<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.272336717899-qv18v3purg7482tcb8n56celpr0jtao4</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb636465094994080</string>
			</array>
		</dict>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1005464068564361~1050666756</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>WorkSans.ttf</string>
		<string>WorkSansBold.ttf</string>
	</array>
    
    <key>FacebookAppID</key>
    <string>636465094994080</string>
    <key>FacebookClientToken</key>
    <string>f5ab995611733515319f8152bc1dce80</string>
    <key>FacebookDisplayName</key>
    <string>Authentication</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-1005464068564361~1050666756</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
    </array>
</dict>
</plist>
