<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272336717899-qv18v3purg7482tcb8n56celpr0jtao4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272336717899-qv18v3purg7482tcb8n56celpr0jtao4</string>
	<key>API_KEY</key>
	<string>AIzaSyAHeO4mO7wXJmQwsqM-sfPPd1poM41J4aE</string>
	<key>GCM_SENDER_ID</key>
	<string>272336717899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.default.DefaultProject</string>
	<key>PROJECT_ID</key>
	<string>fir-authentication-7b6d9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authentication-7b6d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272336717899:ios:1b3bc98f60814c4566a5ce</string>
</dict>
</plist>