<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160070637775-t2ggh4sceilshpvilp0k5tt97nmhv68v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160070637775-t2ggh4sceilshpvilp0k5tt97nmhv68v</string>
	<key>API_KEY</key>
	<string>AIzaSyBx4g875oRKPeRQnIB-GTS-PZaT4jZr15E</string>
	<key>GCM_SENDER_ID</key>
	<string>160070637775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.infinitylabs.music</string>
	<key>PROJECT_ID</key>
	<string>music-d4ccc</string>
	<key>STORAGE_BUCKET</key>
	<string>music-d4ccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:160070637775:ios:b1af4c8e0213999b74ffba</string>
	<key>DATABASE_URL</key>
	<string>https://music-d4ccc-default-rtdb.firebaseio.com</string>
</dict>
</plist>
